.dd-header{
    background-color: #c8c8c8;
    text-align: center;
    font-family: sans-serif;
    font-size: 120%;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateZ(50%);
}


:root{
    --he : 5.5vh;
  }
  .dropdown-wrapper {
    perspective: 2000px;
    height:var(--he);
    margin-top: 0px;
    width: 100%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 999;
  }
  
  .btn {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    transform: translateZ(calc(-0.5*var(--he)));
  }
  
  .active {
    transform: rotateX(-90deg) translateY(50%);
  }

  .side {
    position: absolute;
    backface-visibility: hidden;
    width: 70%;
    height: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    z-index: 997;
  }
  
  .default-side {
    background-color: white;
    border: 1px solid black;
    color: #069;
    transform: translateZ(calc(0.5*var(--he)));
    z-index: 997;
  }
  
  .hover-side {
    color: white;
      border: 1px solid black;  
  background-color: #069;
    transform: rotateX(90deg) 
      translateZ(calc(0.5*var(--he)));
  }

.hover-side img{
  height: 40%;
  position: absolute;
  bottom: 25%;
  right: 8%;
}
  



.activehover{
    color: white;
    background-color: #069;
    transform: rotateX(90deg) translateZ(75px);
}

.dd-bottom{
    background-color: purple;
    width: 100%;
    z-index: 999;
    height: 0px;
}

.dropdown-wrapper{
    width: 100%;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.dd-list{
    overflow: visible;
    position: absolute;
    background-color: #069;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100%;
    border: 1px solid;
    list-style: none;
    display: flex;
    flex-direction: column;
    z-index: 999;
    cursor: pointer;

}

.dd-list-item {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2px;
    z-index: 999;    
    cursor: pointer;
    overflow-wrap: break-word;

}

.dd-list-item-link{
    background-color: #c8c8c8;
    width:87%;
    border: none;
    min-height: 30px;
    height: fit-content;
    display: flex;
    border-radius: 5px;
    padding-left: 9.8%;
    align-items: center;
    justify-content: flex-start;
    font-weight: 600;   
    font-size: 0.8em; 
    overflow-wrap:break-word;
    cursor: pointer;
    z-index: 998;
    overflow: hidden;
}

.dd-header-tittle{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.dd-header:hover{
    background-color: teal;
    transform:rotateX(90deg);
}

.dd-header-tittle p{
    display: inline;
    vertical-align: middle;
    background-color: #c8c8c8;
}

@media screen and (max-width:900px){
    .dd-header{
        font-size: 150%;
        height: 50%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}