.bg-animated{
  background: black #cccccc repeat 0 0;
  width: 100%;
  margin-top: 0px;
  height: fit-content;
  box-sizing: border-box;
  animation: slide 30s linear infinite;
}

.tag{
    height: 100%;
    margin-top: 0px;
    background-color: rgba(124, 124, 124, 0.11);
}

@keyframes slide {
    from{ background-position: 0 0; }
    to{ background-position: 400px -300px; }
}